<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<dict>
		<key>新疆维吾尔自治区</key>
		<dict>
			<key>0101</key>
			<dict>
				<key>乌鲁木齐市</key>
				<string></string>
			</dict>
			<key>0102</key>
			<dict>
				<key>克拉玛依市</key>
				<string></string>
			</dict>
			<key>0103</key>
			<dict>
				<key>吐鲁番市</key>
				<string></string>
			</dict>
			<key>0104</key>
			<dict>
				<key>哈密市</key>
				<string></string>
			</dict>
			<key>0105</key>
			<dict>
				<key>和田市</key>
				<string></string>
			</dict>
			<key>0106</key>
			<dict>
				<key>阿克苏市</key>
				<string></string>
			</dict>
			<key>0107</key>
			<dict>
				<key>喀什市</key>
				<string></string>
			</dict>
			<key>0108</key>
			<dict>
				<key>克孜勒苏柯尔克孜市</key>
				<string></string>
			</dict>
			<key>0109</key>
			<dict>
				<key>巴音郭楞蒙古市</key>
				<string></string>
			</dict>
			<key>0110</key>
			<dict>
				<key>昌吉市</key>
				<string></string>
			</dict>
			<key>0111</key>
			<dict>
				<key>博尔塔拉蒙古市</key>
				<string></string>
			</dict>
			<key>0112</key>
			<dict>
				<key>伊犁哈萨克市</key>
				<string></string>
			</dict>
			<key>0113</key>
			<dict>
				<key>塔城市</key>
				<string></string>
			</dict>
			<key>0114</key>
			<dict>
				<key>阿勒泰市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>02</key>
	<dict>
		<key>西藏自治区</key>
		<dict>
			<key>0201</key>
			<dict>
				<key>拉萨市</key>
				<string></string>
			</dict>
			<key>0202</key>
			<dict>
				<key>昌都市</key>
				<string></string>
			</dict>
			<key>0203</key>
			<dict>
				<key>山南市</key>
				<string></string>
			</dict>
			<key>0204</key>
			<dict>
				<key>日喀则市</key>
				<string></string>
			</dict>
			<key>0205</key>
			<dict>
				<key>那曲市</key>
				<string></string>
			</dict>
			<key>0206</key>
			<dict>
				<key>阿里市</key>
				<string></string>
			</dict>
			<key>0207</key>
			<dict>
				<key>林芝市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>03</key>
	<dict>
		<key>青海省</key>
		<dict>
			<key>0301</key>
			<dict>
				<key>西宁市</key>
				<string></string>
			</dict>
			<key>0302</key>
			<dict>
				<key>海东市</key>
				<string></string>
			</dict>
			<key>0303</key>
			<dict>
				<key>海北市</key>
				<string></string>
			</dict>
			<key>0304</key>
			<dict>
				<key>黄南市</key>
				<string></string>
			</dict>
			<key>0305</key>
			<dict>
				<key>海南市</key>
				<string></string>
			</dict>
			<key>0306</key>
			<dict>
				<key>果洛市</key>
				<string></string>
			</dict>
			<key>0307</key>
			<dict>
				<key>玉树市</key>
				<string></string>
			</dict>
			<key>0308</key>
			<dict>
				<key>海西市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>04</key>
	<dict>
		<key>甘肃省</key>
		<dict>
			<key>0401</key>
			<dict>
				<key>兰州市</key>
				<string></string>
			</dict>
			<key>0402</key>
			<dict>
				<key>嘉峪关市</key>
				<string></string>
			</dict>
			<key>0403</key>
			<dict>
				<key>金昌市</key>
				<string></string>
			</dict>
			<key>0404</key>
			<dict>
				<key>白银市</key>
				<string></string>
			</dict>
			<key>0405</key>
			<dict>
				<key>天水市</key>
				<string></string>
			</dict>
			<key>0406</key>
			<dict>
				<key>武威市</key>
				<string></string>
			</dict>
			<key>0407</key>
			<dict>
				<key>张掖市</key>
				<string></string>
			</dict>
			<key>0408</key>
			<dict>
				<key>平凉市</key>
				<string></string>
			</dict>
			<key>0409</key>
			<dict>
				<key>酒泉市</key>
				<string></string>
			</dict>
			<key>0410</key>
			<dict>
				<key>庆阳市</key>
				<string></string>
			</dict>
			<key>0411</key>
			<dict>
				<key>定西市</key>
				<string></string>
			</dict>
			<key>0412</key>
			<dict>
				<key>陇南市</key>
				<string></string>
			</dict>
			<key>0413</key>
			<dict>
				<key>临夏市</key>
				<string></string>
			</dict>
			<key>0414</key>
			<dict>
				<key>甘南市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>05</key>
	<dict>
		<key>宁夏回族自治区</key>
		<dict>
			<key>0501</key>
			<dict>
				<key>银川市</key>
				<string></string>
			</dict>
			<key>0502</key>
			<dict>
				<key>石嘴山市</key>
				<string></string>
			</dict>
			<key>0503</key>
			<dict>
				<key>吴忠市</key>
				<string></string>
			</dict>
			<key>0504</key>
			<dict>
				<key>固原市</key>
				<string></string>
			</dict>
			<key>0505</key>
			<dict>
				<key>中卫市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>06</key>
	<dict>
		<key>四川省</key>
		<dict>
			<key>0601</key>
			<dict>
				<key>成都市</key>
				<string></string>
			</dict>
			<key>0602</key>
			<dict>
				<key>自贡市</key>
				<string></string>
			</dict>
			<key>0603</key>
			<dict>
				<key>攀枝花市</key>
				<string></string>
			</dict>
			<key>0604</key>
			<dict>
				<key>泸州市</key>
				<string></string>
			</dict>
			<key>0605</key>
			<dict>
				<key>德阳市</key>
				<string></string>
			</dict>
			<key>0606</key>
			<dict>
				<key>绵阳市</key>
				<string></string>
			</dict>
			<key>0607</key>
			<dict>
				<key>广元市</key>
				<string></string>
			</dict>
			<key>0608</key>
			<dict>
				<key>遂宁市</key>
				<string></string>
			</dict>
			<key>0609</key>
			<dict>
				<key>内江市</key>
				<string></string>
			</dict>
			<key>0610</key>
			<dict>
				<key>乐山市</key>
				<string></string>
			</dict>
			<key>0611</key>
			<dict>
				<key>南充市</key>
				<string></string>
			</dict>
			<key>0612</key>
			<dict>
				<key>宜宾市</key>
				<string></string>
			</dict>
			<key>0613</key>
			<dict>
				<key>广安市</key>
				<string></string>
			</dict>
			<key>0614</key>
			<dict>
				<key>达州市</key>
				<string></string>
			</dict>
			<key>0615</key>
			<dict>
				<key>眉山市</key>
				<string></string>
			</dict>
			<key>0616</key>
			<dict>
				<key>雅安市</key>
				<string></string>
			</dict>
			<key>0617</key>
			<dict>
				<key>巴中市</key>
				<string></string>
			</dict>
			<key>0618</key>
			<dict>
				<key>资阳市</key>
				<string></string>
			</dict>
			<key>0619</key>
			<dict>
				<key>阿坝市</key>
				<string></string>
			</dict>
			<key>0620</key>
			<dict>
				<key>甘孜市</key>
				<string></string>
			</dict>
			<key>0621</key>
			<dict>
				<key>凉山市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>07</key>
	<dict>
		<key>云南省</key>
		<dict>
			<key>0701</key>
			<dict>
				<key>昆明市</key>
				<string></string>
			</dict>
			<key>0702</key>
			<dict>
				<key>曲靖市</key>
				<string></string>
			</dict>
			<key>0703</key>
			<dict>
				<key>玉溪市</key>
				<string></string>
			</dict>
			<key>0704</key>
			<dict>
				<key>保山市</key>
				<string></string>
			</dict>
			<key>0705</key>
			<dict>
				<key>昭通市</key>
				<string></string>
			</dict>
			<key>0706</key>
			<dict>
				<key>丽江市</key>
				<string></string>
			</dict>
			<key>0707</key>
			<dict>
				<key>普洱市</key>
				<string></string>
			</dict>
			<key>0708</key>
			<dict>
				<key>临沧市</key>
				<string></string>
			</dict>
			<key>0709</key>
			<dict>
				<key>文山市</key>
				<string></string>
			</dict>
			<key>0710</key>
			<dict>
				<key>红河市</key>
				<string></string>
			</dict>
			<key>0711</key>
			<dict>
				<key>西双版纳市</key>
				<string></string>
			</dict>
			<key>0712</key>
			<dict>
				<key>楚雄市</key>
				<string></string>
			</dict>
			<key>0713</key>
			<dict>
				<key>大理市</key>
				<string></string>
			</dict>
			<key>0714</key>
			<dict>
				<key>德宏市</key>
				<string></string>
			</dict>
			<key>0715</key>
			<dict>
				<key>怒江市</key>
				<string></string>
			</dict>
			<key>0716</key>
			<dict>
				<key>迪庆市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>08</key>
	<dict>
		<key>重庆市</key>
		<dict>
			<key>0801</key>
			<dict>
				<key>万州区</key>
				<string></string>
			</dict>
			<key>0802</key>
			<dict>
				<key>涪陵区</key>
				<string></string>
			</dict>
			<key>0803</key>
			<dict>
				<key>渝中区</key>
				<string></string>
			</dict>
			<key>0804</key>
			<dict>
				<key>大渡口区</key>
				<string></string>
			</dict>
			<key>0805</key>
			<dict>
				<key>江北区</key>
				<string></string>
			</dict>
			<key>0806</key>
			<dict>
				<key>沙坪坝区</key>
				<string></string>
			</dict>
			<key>0807</key>
			<dict>
				<key>九龙坡区</key>
				<string></string>
			</dict>
			<key>0808</key>
			<dict>
				<key>南岸区</key>
				<string></string>
			</dict>
			<key>0809</key>
			<dict>
				<key>北碚区</key>
				<string></string>
			</dict>
			<key>0810</key>
			<dict>
				<key>綦江区</key>
				<string></string>
			</dict>
			<key>0811</key>
			<dict>
				<key>大足区</key>
				<string></string>
			</dict>
			<key>0812</key>
			<dict>
				<key>渝北区</key>
				<string></string>
			</dict>
			<key>0813</key>
			<dict>
				<key>巴南区</key>
				<string></string>
			</dict>
			<key>0814</key>
			<dict>
				<key>黔江区</key>
				<string></string>
			</dict>
			<key>0815</key>
			<dict>
				<key>长寿区</key>
				<string></string>
			</dict>
			<key>0816</key>
			<dict>
				<key>江津区</key>
				<string></string>
			</dict>
			<key>0817</key>
			<dict>
				<key>合川区</key>
				<string></string>
			</dict>
			<key>0818</key>
			<dict>
				<key>永川区</key>
				<string></string>
			</dict>
			<key>0819</key>
			<dict>
				<key>南川区</key>
				<string></string>
			</dict>
			<key>0820</key>
			<dict>
				<key>潼南县</key>
				<string></string>
			</dict>
			<key>0821</key>
			<dict>
				<key>铜梁县</key>
				<string></string>
			</dict>
			<key>0822</key>
			<dict>
				<key>荣昌县</key>
				<string></string>
			</dict>
			<key>0823</key>
			<dict>
				<key>璧山县</key>
				<string></string>
			</dict>
			<key>0824</key>
			<dict>
				<key>梁平县</key>
				<string></string>
			</dict>
			<key>0825</key>
			<dict>
				<key>城口县</key>
				<string></string>
			</dict>
			<key>0826</key>
			<dict>
				<key>丰都县</key>
				<string></string>
			</dict>
			<key>0827</key>
			<dict>
				<key>垫江县</key>
				<string></string>
			</dict>
			<key>0828</key>
			<dict>
				<key>武隆县</key>
				<string></string>
			</dict>
			<key>0829</key>
			<dict>
				<key>忠县</key>
				<string></string>
			</dict>
			<key>0830</key>
			<dict>
				<key>开县</key>
				<string></string>
			</dict>
			<key>0831</key>
			<dict>
				<key>云阳县</key>
				<string></string>
			</dict>
			<key>0832</key>
			<dict>
				<key>奉节县</key>
				<string>奉节县</string>
			</dict>
			<key>0833</key>
			<dict>
				<key>巫山县</key>
				<string></string>
			</dict>
			<key>0834</key>
			<dict>
				<key>巫溪县</key>
				<string></string>
			</dict>
			<key>0835</key>
			<dict>
				<key>石柱县</key>
				<string></string>
			</dict>
			<key>0836</key>
			<dict>
				<key>秀山县</key>
				<string></string>
			</dict>
			<key>0837</key>
			<dict>
				<key>酉阳县</key>
				<string></string>
			</dict>
			<key>0838</key>
			<dict>
				<key>彭水县</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>09</key>
	<dict>
		<key>贵州省</key>
		<dict>
			<key>0901</key>
			<dict>
				<key>贵阳市</key>
				<string></string>
			</dict>
			<key>0902</key>
			<dict>
				<key>六盘水市</key>
				<string></string>
			</dict>
			<key>0903</key>
			<dict>
				<key>遵义市</key>
				<string></string>
			</dict>
			<key>0904</key>
			<dict>
				<key>安顺市</key>
				<string></string>
			</dict>
			<key>0905</key>
			<dict>
				<key>铜仁市</key>
				<string></string>
			</dict>
			<key>0906</key>
			<dict>
				<key>毕节市</key>
				<string></string>
			</dict>
			<key>0907</key>
			<dict>
				<key>黔西南市</key>
				<string></string>
			</dict>
			<key>0908</key>
			<dict>
				<key>黔东南市</key>
				<string></string>
			</dict>
			<key>0909</key>
			<dict>
				<key>黔南市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>10</key>
	<dict>
		<key>广西壮族自治区</key>
		<dict>
			<key>1001</key>
			<dict>
				<key>南宁市</key>
				<string></string>
			</dict>
			<key>1002</key>
			<dict>
				<key>柳州市</key>
				<string></string>
			</dict>
			<key>1003</key>
			<dict>
				<key>桂林市</key>
				<string></string>
			</dict>
			<key>1004</key>
			<dict>
				<key>梧州市</key>
				<string></string>
			</dict>
			<key>1005</key>
			<dict>
				<key>北海市</key>
				<string></string>
			</dict>
			<key>1006</key>
			<dict>
				<key>防城港市</key>
				<string></string>
			</dict>
			<key>1007</key>
			<dict>
				<key>钦州市</key>
				<string></string>
			</dict>
			<key>1008</key>
			<dict>
				<key>贵港市</key>
				<string></string>
			</dict>
			<key>1009</key>
			<dict>
				<key>玉林市</key>
				<string></string>
			</dict>
			<key>1010</key>
			<dict>
				<key>百色市</key>
				<string></string>
			</dict>
			<key>1011</key>
			<dict>
				<key>贺州市</key>
				<string></string>
			</dict>
			<key>1012</key>
			<dict>
				<key>河池市</key>
				<string></string>
			</dict>
			<key>1013</key>
			<dict>
				<key>来宾市</key>
				<string></string>
			</dict>
			<key>1014</key>
			<dict>
				<key>崇左市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>11</key>
	<dict>
		<key>海南省</key>
		<dict>
			<key>1101</key>
			<dict>
				<key>海口市</key>
				<string></string>
			</dict>
			<key>1102</key>
			<dict>
				<key>三亚市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>12</key>
	<dict>
		<key>广东省</key>
		<dict>
			<key>1201</key>
			<dict>
				<key>广州市</key>
				<string></string>
			</dict>
			<key>1202</key>
			<dict>
				<key>深圳市</key>
				<string></string>
			</dict>
			<key>1203</key>
			<dict>
				<key>珠海市</key>
				<string></string>
			</dict>
			<key>1204</key>
			<dict>
				<key>汕头市</key>
				<string></string>
			</dict>
			<key>1205</key>
			<dict>
				<key>韶关市</key>
				<string></string>
			</dict>
			<key>1206</key>
			<dict>
				<key>佛山市</key>
				<string></string>
			</dict>
			<key>1207</key>
			<dict>
				<key>江门市</key>
				<string></string>
			</dict>
			<key>1208</key>
			<dict>
				<key>湛江市</key>
				<string></string>
			</dict>
			<key>1209</key>
			<dict>
				<key>茂名市</key>
				<string></string>
			</dict>
			<key>1210</key>
			<dict>
				<key>肇庆市</key>
				<string></string>
			</dict>
			<key>1211</key>
			<dict>
				<key>惠州市</key>
				<string></string>
			</dict>
			<key>1212</key>
			<dict>
				<key>梅州市</key>
				<string></string>
			</dict>
			<key>1213</key>
			<dict>
				<key>汕尾市</key>
				<string></string>
			</dict>
			<key>1214</key>
			<dict>
				<key>河源市</key>
				<string></string>
			</dict>
			<key>1215</key>
			<dict>
				<key>阳江市</key>
				<string></string>
			</dict>
			<key>1216</key>
			<dict>
				<key>清远市</key>
				<string></string>
			</dict>
			<key>1217</key>
			<dict>
				<key>东莞市</key>
				<string></string>
			</dict>
			<key>1218</key>
			<dict>
				<key>中山市</key>
				<string></string>
			</dict>
			<key>1219</key>
			<dict>
				<key>潮州市</key>
				<string></string>
			</dict>
			<key>1220</key>
			<dict>
				<key>揭阳市</key>
				<string></string>
			</dict>
			<key>1221</key>
			<dict>
				<key>云浮市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>13</key>
	<dict>
		<key>澳门特别行政区</key>
		<dict>
			<key>1301</key>
			<dict>
				<key>花地玛堂区</key>
				<string></string>
			</dict>
			<key>1302</key>
			<dict>
				<key>嘉模堂区</key>
				<string></string>
			</dict>
			<key>1303</key>
			<dict>
				<key>望德堂区</key>
				<string></string>
			</dict>
			<key>1304</key>
			<dict>
				<key>大堂区</key>
				<string></string>
			</dict>
			<key>1305</key>
			<dict>
				<key>风顺堂区</key>
				<string></string>
			</dict>
			<key>1306</key>
			<dict>
				<key>花王堂区</key>
				<string></string>
			</dict>
			<key>1307</key>
			<dict>
				<key>路氹填海区</key>
				<string></string>
			</dict>
			<key>1308</key>
			<dict>
				<key>圣方济各堂区</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>14</key>
	<dict>
		<key>香港特别行政区</key>
		<dict>
			<key>1401</key>
			<dict>
				<key>中西区</key>
				<string></string>
			</dict>
			<key>1402</key>
			<dict>
				<key>黄大仙区</key>
				<string></string>
			</dict>
			<key>1403</key>
			<dict>
				<key>西贡区</key>
				<string></string>
			</dict>
			<key>1404</key>
			<dict>
				<key>东区</key>
				<string></string>
			</dict>
			<key>1405</key>
			<dict>
				<key>湾仔区</key>
				<string></string>
			</dict>
			<key>1406</key>
			<dict>
				<key>沙田区</key>
				<string></string>
			</dict>
			<key>1407</key>
			<dict>
				<key>九龙城区</key>
				<string></string>
			</dict>
			<key>1408</key>
			<dict>
				<key>油尖旺区</key>
				<string></string>
			</dict>
			<key>1409</key>
			<dict>
				<key>屯门区</key>
				<string></string>
			</dict>
			<key>1410</key>
			<dict>
				<key>观塘区</key>
				<string></string>
			</dict>
			<key>1411</key>
			<dict>
				<key>离岛区</key>
				<string></string>
			</dict>
			<key>1412</key>
			<dict>
				<key>大浦区</key>
				<string></string>
			</dict>
			<key>1413</key>
			<dict>
				<key>南区</key>
				<string></string>
			</dict>
			<key>1414</key>
			<dict>
				<key>葵青区</key>
				<string></string>
			</dict>
			<key>1415</key>
			<dict>
				<key>荃湾区</key>
				<string></string>
			</dict>
			<key>1416</key>
			<dict>
				<key>深水埗区</key>
				<string></string>
			</dict>
			<key>1417</key>
			<dict>
				<key>北区</key>
				<string></string>
			</dict>
			<key>1418</key>
			<dict>
				<key>元朗区</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>15</key>
	<dict>
		<key>湖南省</key>
		<dict>
			<key>1501</key>
			<dict>
				<key>长沙市</key>
				<string></string>
			</dict>
			<key>1502</key>
			<dict>
				<key>株洲市</key>
				<string></string>
			</dict>
			<key>1503</key>
			<dict>
				<key>湘潭市</key>
				<string></string>
			</dict>
			<key>1504</key>
			<dict>
				<key>衡阳市</key>
				<string></string>
			</dict>
			<key>1505</key>
			<dict>
				<key>邵阳市</key>
				<string></string>
			</dict>
			<key>1506</key>
			<dict>
				<key>岳阳市</key>
				<string></string>
			</dict>
			<key>1507</key>
			<dict>
				<key>常德市</key>
				<string></string>
			</dict>
			<key>1508</key>
			<dict>
				<key>张家界市</key>
				<string></string>
			</dict>
			<key>1509</key>
			<dict>
				<key>益阳市</key>
				<string></string>
			</dict>
			<key>1510</key>
			<dict>
				<key>郴州市</key>
				<string></string>
			</dict>
			<key>1511</key>
			<dict>
				<key>永州市</key>
				<string></string>
			</dict>
			<key>1512</key>
			<dict>
				<key>怀化市</key>
				<string></string>
			</dict>
			<key>1513</key>
			<dict>
				<key>娄底市</key>
				<string></string>
			</dict>
			<key>1514</key>
			<dict>
				<key>湘西市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>16</key>
	<dict>
		<key>江西省</key>
		<dict>
			<key>1601</key>
			<dict>
				<key>南昌市</key>
				<string></string>
			</dict>
			<key>1602</key>
			<dict>
				<key>景德镇市</key>
				<string></string>
			</dict>
			<key>1603</key>
			<dict>
				<key>萍乡市</key>
				<string></string>
			</dict>
			<key>1604</key>
			<dict>
				<key>九江市</key>
				<string></string>
			</dict>
			<key>1605</key>
			<dict>
				<key>新余市</key>
				<string></string>
			</dict>
			<key>1606</key>
			<dict>
				<key>鹰潭市</key>
				<string></string>
			</dict>
			<key>1607</key>
			<dict>
				<key>赣州市</key>
				<string></string>
			</dict>
			<key>1608</key>
			<dict>
				<key>吉安市</key>
				<string></string>
			</dict>
			<key>1609</key>
			<dict>
				<key>宜春市</key>
				<string></string>
			</dict>
			<key>1610</key>
			<dict>
				<key>抚州市</key>
				<string></string>
			</dict>
			<key>1611</key>
			<dict>
				<key>上饶市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>17</key>
	<dict>
		<key>福建省</key>
		<dict>
			<key>1701</key>
			<dict>
				<key>福州市</key>
				<string></string>
			</dict>
			<key>1702</key>
			<dict>
				<key>厦门市</key>
				<string></string>
			</dict>
			<key>1703</key>
			<dict>
				<key>莆田市</key>
				<string></string>
			</dict>
			<key>1704</key>
			<dict>
				<key>三明市</key>
				<string></string>
			</dict>
			<key>1705</key>
			<dict>
				<key>泉州市</key>
				<string></string>
			</dict>
			<key>1706</key>
			<dict>
				<key>漳州市</key>
				<string></string>
			</dict>
			<key>1707</key>
			<dict>
				<key>南平市</key>
				<string></string>
			</dict>
			<key>1708</key>
			<dict>
				<key>龙岩市</key>
				<string></string>
			</dict>
			<key>1709</key>
			<dict>
				<key>宁德市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>18</key>
	<dict>
		<key>台湾省</key>
		<dict>
			<key>1801</key>
			<dict>
				<key>台北市</key>
				<string></string>
			</dict>
			<key>1802</key>
			<dict>
				<key>高雄市</key>
				<string></string>
			</dict>
			<key>1803</key>
			<dict>
				<key>基隆市</key>
				<string></string>
			</dict>
			<key>1804</key>
			<dict>
				<key>台中市</key>
				<string></string>
			</dict>
			<key>1805</key>
			<dict>
				<key>台南市</key>
				<string></string>
			</dict>
			<key>1806</key>
			<dict>
				<key>新竹市</key>
				<string></string>
			</dict>
			<key>1807</key>
			<dict>
				<key>嘉义市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>19</key>
	<dict>
		<key>浙江省</key>
		<dict>
			<key>1901</key>
			<dict>
				<key>杭州市</key>
				<string></string>
			</dict>
			<key>1902</key>
			<dict>
				<key>宁波市</key>
				<string></string>
			</dict>
			<key>1903</key>
			<dict>
				<key>温州市</key>
				<string></string>
			</dict>
			<key>1904</key>
			<dict>
				<key>嘉兴市</key>
				<string></string>
			</dict>
			<key>1905</key>
			<dict>
				<key>湖州市</key>
				<string></string>
			</dict>
			<key>1906</key>
			<dict>
				<key>绍兴市</key>
				<string></string>
			</dict>
			<key>1907</key>
			<dict>
				<key>金华市</key>
				<string></string>
			</dict>
			<key>1908</key>
			<dict>
				<key>衢州市</key>
				<string></string>
			</dict>
			<key>1909</key>
			<dict>
				<key>舟山市</key>
				<string></string>
			</dict>
			<key>1910</key>
			<dict>
				<key>台州市</key>
				<string></string>
			</dict>
			<key>1911</key>
			<dict>
				<key>丽水市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>20</key>
	<dict>
		<key>安徽省</key>
		<dict>
			<key>2001</key>
			<dict>
				<key>合肥市</key>
				<string></string>
			</dict>
			<key>2002</key>
			<dict>
				<key>芜湖市</key>
				<string></string>
			</dict>
			<key>2003</key>
			<dict>
				<key>蚌埠市</key>
				<string></string>
			</dict>
			<key>2004</key>
			<dict>
				<key>淮南市</key>
				<string></string>
			</dict>
			<key>2005</key>
			<dict>
				<key>马鞍山市</key>
				<string></string>
			</dict>
			<key>2006</key>
			<dict>
				<key>淮北市</key>
				<string></string>
			</dict>
			<key>2007</key>
			<dict>
				<key>铜陵市</key>
				<string></string>
			</dict>
			<key>2008</key>
			<dict>
				<key>安庆市</key>
				<string></string>
			</dict>
			<key>2009</key>
			<dict>
				<key>黄山市</key>
				<string></string>
			</dict>
			<key>2010</key>
			<dict>
				<key>滁州市</key>
				<string></string>
			</dict>
			<key>2011</key>
			<dict>
				<key>阜阳市</key>
				<string></string>
			</dict>
			<key>2012</key>
			<dict>
				<key>宿州市</key>
				<string></string>
			</dict>
			<key>2013</key>
			<dict>
				<key>巢湖市</key>
				<string></string>
			</dict>
			<key>2014</key>
			<dict>
				<key>六安市</key>
				<string></string>
			</dict>
			<key>2015</key>
			<dict>
				<key>亳州市</key>
				<string></string>
			</dict>
			<key>2016</key>
			<dict>
				<key>池州市</key>
				<string></string>
			</dict>
			<key>2017</key>
			<dict>
				<key>宣城市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>21</key>
	<dict>
		<key>河南省</key>
		<dict>
			<key>2101</key>
			<dict>
				<key>郑州市</key>
				<string></string>
			</dict>
			<key>2102</key>
			<dict>
				<key>开封市</key>
				<string></string>
			</dict>
			<key>2103</key>
			<dict>
				<key>洛阳市</key>
				<string></string>
			</dict>
			<key>2104</key>
			<dict>
				<key>平顶山市</key>
				<string></string>
			</dict>
			<key>2105</key>
			<dict>
				<key>焦作市</key>
				<string></string>
			</dict>
			<key>2106</key>
			<dict>
				<key>鹤壁市</key>
				<string></string>
			</dict>
			<key>2107</key>
			<dict>
				<key>新乡市</key>
				<string></string>
			</dict>
			<key>2108</key>
			<dict>
				<key>安阳市</key>
				<string></string>
			</dict>
			<key>2109</key>
			<dict>
				<key>濮阳市</key>
				<string></string>
			</dict>
			<key>2110</key>
			<dict>
				<key>许昌市</key>
				<string></string>
			</dict>
			<key>2111</key>
			<dict>
				<key>漯河市</key>
				<string></string>
			</dict>
			<key>2112</key>
			<dict>
				<key>三门峡市</key>
				<string></string>
			</dict>
			<key>2113</key>
			<dict>
				<key>南阳市</key>
				<string></string>
			</dict>
			<key>2114</key>
			<dict>
				<key>商丘市</key>
				<string></string>
			</dict>
			<key>2115</key>
			<dict>
				<key>信阳市</key>
				<string></string>
			</dict>
			<key>2116</key>
			<dict>
				<key>周口市</key>
				<string></string>
			</dict>
			<key>2117</key>
			<dict>
				<key>驻马店市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>22</key>
	<dict>
		<key>陕西省</key>
		<dict>
			<key>2201</key>
			<dict>
				<key>西安市</key>
				<string></string>
			</dict>
			<key>2202</key>
			<dict>
				<key>铜川市</key>
				<string></string>
			</dict>
			<key>2203</key>
			<dict>
				<key>宝鸡市</key>
				<string></string>
			</dict>
			<key>2204</key>
			<dict>
				<key>咸阳市</key>
				<string></string>
			</dict>
			<key>2205</key>
			<dict>
				<key>渭南市</key>
				<string></string>
			</dict>
			<key>2206</key>
			<dict>
				<key>延安市</key>
				<string></string>
			</dict>
			<key>2207</key>
			<dict>
				<key>汉中市</key>
				<string></string>
			</dict>
			<key>2208</key>
			<dict>
				<key>榆林市</key>
				<string></string>
			</dict>
			<key>2209</key>
			<dict>
				<key>安康市</key>
				<string></string>
			</dict>
			<key>2210</key>
			<dict>
				<key>商洛市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>23</key>
	<dict>
		<key>湖北省</key>
		<dict>
			<key>2301</key>
			<dict>
				<key>武汉市</key>
				<string></string>
			</dict>
			<key>2302</key>
			<dict>
				<key>黄石市</key>
				<string></string>
			</dict>
			<key>2303</key>
			<dict>
				<key>襄樊市</key>
				<string></string>
			</dict>
			<key>2304</key>
			<dict>
				<key>十堰市</key>
				<string></string>
			</dict>
			<key>2305</key>
			<dict>
				<key>荆州市</key>
				<string></string>
			</dict>
			<key>2306</key>
			<dict>
				<key>宜昌市</key>
				<string></string>
			</dict>
			<key>2307</key>
			<dict>
				<key>荆门市</key>
				<string></string>
			</dict>
			<key>2308</key>
			<dict>
				<key>鄂州市</key>
				<string></string>
			</dict>
			<key>2309</key>
			<dict>
				<key>孝感市</key>
				<string></string>
			</dict>
			<key>2310</key>
			<dict>
				<key>黄冈市</key>
				<string></string>
			</dict>
			<key>2311</key>
			<dict>
				<key>咸宁市</key>
				<string></string>
			</dict>
			<key>2312</key>
			<dict>
				<key>随州市</key>
				<string></string>
			</dict>
			<key>2313</key>
			<dict>
				<key>恩施市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>24</key>
	<dict>
		<key>江苏省</key>
		<dict>
			<key>2401</key>
			<dict>
				<key>南京市</key>
				<string></string>
			</dict>
			<key>2402</key>
			<dict>
				<key>无锡</key>
				<string></string>
			</dict>
			<key>2403</key>
			<dict>
				<key>徐州</key>
				<string></string>
			</dict>
			<key>2404</key>
			<dict>
				<key>常州市</key>
				<string></string>
			</dict>
			<key>2405</key>
			<dict>
				<key>苏州市</key>
				<string></string>
			</dict>
			<key>2406</key>
			<dict>
				<key>南通市</key>
				<string></string>
			</dict>
			<key>2407</key>
			<dict>
				<key>连云港市</key>
				<string></string>
			</dict>
			<key>2408</key>
			<dict>
				<key>淮安市</key>
				<string></string>
			</dict>
			<key>2409</key>
			<dict>
				<key>盐城市</key>
				<string></string>
			</dict>
			<key>2410</key>
			<dict>
				<key>扬州市</key>
				<string></string>
			</dict>
			<key>2411</key>
			<dict>
				<key>镇江市</key>
				<string></string>
			</dict>
			<key>2412</key>
			<dict>
				<key>泰州市</key>
				<string></string>
			</dict>
			<key>2413</key>
			<dict>
				<key>宿迁市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>25</key>
	<dict>
		<key>上海市</key>
		<dict>
			<key>2501</key>
			<dict>
				<key>黄浦区</key>
				<string></string>
			</dict>
			<key>2502</key>
			<dict>
				<key>卢湾区</key>
				<string></string>
			</dict>
			<key>2503</key>
			<dict>
				<key>徐汇区</key>
				<string></string>
			</dict>
			<key>2504</key>
			<dict>
				<key>长宁区</key>
				<string></string>
			</dict>
			<key>2505</key>
			<dict>
				<key>静安区</key>
				<string></string>
			</dict>
			<key>2506</key>
			<dict>
				<key>普陀区</key>
				<string></string>
			</dict>
			<key>2507</key>
			<dict>
				<key>闸北区</key>
				<string></string>
			</dict>
			<key>2508</key>
			<dict>
				<key>虹口区</key>
				<string></string>
			</dict>
			<key>2509</key>
			<dict>
				<key>杨浦区</key>
				<string></string>
			</dict>
			<key>2510</key>
			<dict>
				<key>宝山区</key>
				<string></string>
			</dict>
			<key>2511</key>
			<dict>
				<key>闵行区</key>
				<string></string>
			</dict>
			<key>2512</key>
			<dict>
				<key>嘉定区</key>
				<string></string>
			</dict>
			<key>2513</key>
			<dict>
				<key>浦东新区</key>
				<string></string>
			</dict>
			<key>2514</key>
			<dict>
				<key>松江区</key>
				<string></string>
			</dict>
			<key>2515</key>
			<dict>
				<key>金山区</key>
				<string></string>
			</dict>
			<key>2516</key>
			<dict>
				<key>青浦区</key>
				<string></string>
			</dict>
			<key>2517</key>
			<dict>
				<key>南汇区</key>
				<string></string>
			</dict>
			<key>2518</key>
			<dict>
				<key>奉贤区</key>
				<string></string>
			</dict>
			<key>2519</key>
			<dict>
				<key>崇明县</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>26</key>
	<dict>
		<key>山东省</key>
		<dict>
			<key>2601</key>
			<dict>
				<key>济南市</key>
				<string></string>
			</dict>
			<key>2602</key>
			<dict>
				<key>青岛市</key>
				<string></string>
			</dict>
			<key>2603</key>
			<dict>
				<key>淄博市</key>
				<string></string>
			</dict>
			<key>2604</key>
			<dict>
				<key>枣庄市</key>
				<string></string>
			</dict>
			<key>2605</key>
			<dict>
				<key>东营市</key>
				<string></string>
			</dict>
			<key>2606</key>
			<dict>
				<key>烟台市</key>
				<string></string>
			</dict>
			<key>2607</key>
			<dict>
				<key>潍坊市</key>
				<string></string>
			</dict>
			<key>2608</key>
			<dict>
				<key>威海市</key>
				<string></string>
			</dict>
			<key>2609</key>
			<dict>
				<key>济宁市</key>
				<string></string>
			</dict>
			<key>2610</key>
			<dict>
				<key>泰安市</key>
				<string></string>
			</dict>
			<key>2611</key>
			<dict>
				<key>日照市</key>
				<string></string>
			</dict>
			<key>2612</key>
			<dict>
				<key>莱芜市</key>
				<string></string>
			</dict>
			<key>2613</key>
			<dict>
				<key>临沂市</key>
				<string></string>
			</dict>
			<key>2614</key>
			<dict>
				<key>德州市</key>
				<string></string>
			</dict>
			<key>2615</key>
			<dict>
				<key>聊城市</key>
				<string></string>
			</dict>
			<key>2616</key>
			<dict>
				<key>滨州市</key>
				<string></string>
			</dict>
			<key>2617</key>
			<dict>
				<key>菏泽市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>27</key>
	<dict>
		<key>山西省</key>
		<dict>
			<key>2701</key>
			<dict>
				<key>太原市</key>
				<string></string>
			</dict>
			<key>2702</key>
			<dict>
				<key>大同市</key>
				<string></string>
			</dict>
			<key>2703</key>
			<dict>
				<key>阳泉市</key>
				<string></string>
			</dict>
			<key>2704</key>
			<dict>
				<key>长治市</key>
				<string></string>
			</dict>
			<key>2705</key>
			<dict>
				<key>晋城市</key>
				<string></string>
			</dict>
			<key>2706</key>
			<dict>
				<key>朔州市</key>
				<string></string>
			</dict>
			<key>2707</key>
			<dict>
				<key>晋中市</key>
				<string></string>
			</dict>
			<key>2708</key>
			<dict>
				<key>运城市</key>
				<string></string>
			</dict>
			<key>2709</key>
			<dict>
				<key>忻州市</key>
				<string></string>
			</dict>
			<key>2710</key>
			<dict>
				<key>临汾市</key>
				<string></string>
			</dict>
			<key>2711</key>
			<dict>
				<key>吕梁市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>28</key>
	<dict>
		<key>河北省</key>
		<dict>
			<key>2801</key>
			<dict>
				<key>石家庄市</key>
				<string></string>
			</dict>
			<key>2802</key>
			<dict>
				<key>唐山市</key>
				<string></string>
			</dict>
			<key>2803</key>
			<dict>
				<key>秦皇岛市</key>
				<string></string>
			</dict>
			<key>2804</key>
			<dict>
				<key>邯郸市</key>
				<string></string>
			</dict>
			<key>2805</key>
			<dict>
				<key>邢台市</key>
				<string></string>
			</dict>
			<key>2806</key>
			<dict>
				<key>保定市</key>
				<string></string>
			</dict>
			<key>2807</key>
			<dict>
				<key>张家口市</key>
				<string></string>
			</dict>
			<key>2808</key>
			<dict>
				<key>承德市</key>
				<string></string>
			</dict>
			<key>2809</key>
			<dict>
				<key>沧州市</key>
				<string></string>
			</dict>
			<key>2810</key>
			<dict>
				<key>廊坊市</key>
				<string></string>
			</dict>
			<key>2811</key>
			<dict>
				<key>衡水市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>29</key>
	<dict>
		<key>北京市</key>
		<dict>
			<key>2901</key>
			<dict>
				<key>海淀区</key>
				<string></string>
			</dict>
			<key>2902</key>
			<dict>
				<key>朝阳区</key>
				<string></string>
			</dict>
			<key>2903</key>
			<dict>
				<key>东城区</key>
				<string></string>
			</dict>
			<key>2904</key>
			<dict>
				<key>西城区</key>
				<string></string>
			</dict>
			<key>2905</key>
			<dict>
				<key>石景山区</key>
				<string></string>
			</dict>
			<key>2906</key>
			<dict>
				<key>丰台区</key>
				<string></string>
			</dict>
			<key>2907</key>
			<dict>
				<key>房山区</key>
				<string></string>
			</dict>
			<key>2908</key>
			<dict>
				<key>通州区</key>
				<string></string>
			</dict>
			<key>2909</key>
			<dict>
				<key>大兴区</key>
				<string></string>
			</dict>
			<key>2910</key>
			<dict>
				<key>门头沟区</key>
				<string></string>
			</dict>
			<key>2911</key>
			<dict>
				<key>昌平区</key>
				<string></string>
			</dict>
			<key>2912</key>
			<dict>
				<key>顺义区</key>
				<string></string>
			</dict>
			<key>2913</key>
			<dict>
				<key>怀柔区</key>
				<string></string>
			</dict>
			<key>2914</key>
			<dict>
				<key>平谷区</key>
				<string></string>
			</dict>
			<key>2915</key>
			<dict>
				<key>密云县</key>
				<string></string>
			</dict>
			<key>2916</key>
			<dict>
				<key>延庆县</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>30</key>
	<dict>
		<key>天津市</key>
		<dict>
			<key>3001</key>
			<dict>
				<key>西青区</key>
				<string></string>
			</dict>
			<key>3002</key>
			<dict>
				<key>南开区</key>
				<string></string>
			</dict>
			<key>3003</key>
			<dict>
				<key>和平区</key>
				<string></string>
			</dict>
			<key>3004</key>
			<dict>
				<key>河东区</key>
				<string></string>
			</dict>
			<key>3005</key>
			<dict>
				<key>河西区</key>
				<string></string>
			</dict>
			<key>3006</key>
			<dict>
				<key>东丽区</key>
				<string></string>
			</dict>
			<key>3007</key>
			<dict>
				<key>宝坻区</key>
				<string></string>
			</dict>
			<key>3008</key>
			<dict>
				<key>河北区</key>
				<string></string>
			</dict>
			<key>3009</key>
			<dict>
				<key>红桥区</key>
				<string></string>
			</dict>
			<key>3010</key>
			<dict>
				<key>滨海新区</key>
				<string></string>
			</dict>
			<key>3011</key>
			<dict>
				<key>津南区</key>
				<string></string>
			</dict>
			<key>3012</key>
			<dict>
				<key>北辰区</key>
				<string></string>
			</dict>
			<key>3013</key>
			<dict>
				<key>武清区</key>
				<string></string>
			</dict>
			<key>3014</key>
			<dict>
				<key>静海县</key>
				<string></string>
			</dict>
			<key>3015</key>
			<dict>
				<key>宁河县</key>
				<string></string>
			</dict>
			<key>3016</key>
			<dict>
				<key>蓟县</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>31</key>
	<dict>
		<key>辽宁省</key>
		<dict>
			<key>3101</key>
			<dict>
				<key>沈阳市</key>
				<string></string>
			</dict>
			<key>3102</key>
			<dict>
				<key>大连市</key>
				<string></string>
			</dict>
			<key>3103</key>
			<dict>
				<key>鞍山市</key>
				<string></string>
			</dict>
			<key>3104</key>
			<dict>
				<key>抚顺市</key>
				<string></string>
			</dict>
			<key>3105</key>
			<dict>
				<key>本溪市</key>
				<string></string>
			</dict>
			<key>3106</key>
			<dict>
				<key>丹东市</key>
				<string></string>
			</dict>
			<key>3107</key>
			<dict>
				<key>锦州市</key>
				<string></string>
			</dict>
			<key>3108</key>
			<dict>
				<key>营口市</key>
				<string></string>
			</dict>
			<key>3109</key>
			<dict>
				<key>阜新市</key>
				<string></string>
			</dict>
			<key>3110</key>
			<dict>
				<key>辽阳市</key>
				<string></string>
			</dict>
			<key>3111</key>
			<dict>
				<key>盘锦市</key>
				<string></string>
			</dict>
			<key>3112</key>
			<dict>
				<key>铁岭市</key>
				<string></string>
			</dict>
			<key>3113</key>
			<dict>
				<key>朝阳市</key>
				<string></string>
			</dict>
			<key>3114</key>
			<dict>
				<key>葫芦岛市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>32</key>
	<dict>
		<key>内蒙古自治区</key>
		<dict>
			<key>3201</key>
			<dict>
				<key>呼和浩特市</key>
				<string></string>
			</dict>
			<key>3202</key>
			<dict>
				<key>包头市</key>
				<string></string>
			</dict>
			<key>3203</key>
			<dict>
				<key>乌海市</key>
				<string></string>
			</dict>
			<key>3204</key>
			<dict>
				<key>赤峰市</key>
				<string></string>
			</dict>
			<key>3205</key>
			<dict>
				<key>通辽市</key>
				<string></string>
			</dict>
			<key>3206</key>
			<dict>
				<key>鄂尔多斯市</key>
				<string></string>
			</dict>
			<key>3207</key>
			<dict>
				<key>呼伦贝尔市</key>
				<string></string>
			</dict>
			<key>3208</key>
			<dict>
				<key>巴彦淖尔市</key>
				<string></string>
			</dict>
			<key>3209</key>
			<dict>
				<key>乌兰察布市</key>
				<string></string>
			</dict>
			<key>3210</key>
			<dict>
				<key>兴安市</key>
				<string></string>
			</dict>
			<key>3211</key>
			<dict>
				<key>锡林郭勒市</key>
				<string></string>
			</dict>
			<key>3212</key>
			<dict>
				<key>阿拉善市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>33</key>
	<dict>
		<key>黑龙江省</key>
		<dict>
			<key>3301</key>
			<dict>
				<key>哈尔滨市</key>
				<string></string>
			</dict>
			<key>3302</key>
			<dict>
				<key>齐齐哈尔</key>
				<string></string>
			</dict>
			<key>3303</key>
			<dict>
				<key>鸡西市</key>
				<string></string>
			</dict>
			<key>3304</key>
			<dict>
				<key>鹤岗市</key>
				<string></string>
			</dict>
			<key>3305</key>
			<dict>
				<key>双鸭山市</key>
				<string></string>
			</dict>
			<key>3306</key>
			<dict>
				<key>大庆市</key>
				<string></string>
			</dict>
			<key>3307</key>
			<dict>
				<key>伊春市</key>
				<string></string>
			</dict>
			<key>3308</key>
			<dict>
				<key>佳木斯市</key>
				<string></string>
			</dict>
			<key>3309</key>
			<dict>
				<key>七台河市</key>
				<string></string>
			</dict>
			<key>3310</key>
			<dict>
				<key>牡丹江市</key>
				<string></string>
			</dict>
			<key>3311</key>
			<dict>
				<key>黑河市</key>
				<string></string>
			</dict>
			<key>3312</key>
			<dict>
				<key>绥化市</key>
				<string></string>
			</dict>
			<key>3313</key>
			<dict>
				<key>大兴安岭市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>34</key>
	<dict>
		<key>吉林省</key>
		<dict>
			<key>3401</key>
			<dict>
				<key>长春市</key>
				<string></string>
			</dict>
			<key>3402</key>
			<dict>
				<key>吉林市</key>
				<string></string>
			</dict>
			<key>3403</key>
			<dict>
				<key>四平市</key>
				<string></string>
			</dict>
			<key>3404</key>
			<dict>
				<key>辽源市</key>
				<string></string>
			</dict>
			<key>3405</key>
			<dict>
				<key>通化市</key>
				<string></string>
			</dict>
			<key>3406</key>
			<dict>
				<key>白山市</key>
				<string></string>
			</dict>
			<key>3407</key>
			<dict>
				<key>松原市</key>
				<string></string>
			</dict>
			<key>3408</key>
			<dict>
				<key>白城市</key>
				<string></string>
			</dict>
			<key>3409</key>
			<dict>
				<key>延边市</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
